In [1]:
import pandas as pd
import numpy as np

In [2]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('users.data', sep='\t', names=column_names)

In [3]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [4]:
len(df)

100003

In [5]:
movie_titles = pd.read_csv("movie_id_titles.csv")
movie_titles.head()

  item_id              title
0       1   Toy Story (1995)
1       2   GoldenEye (1995)
2       3  Four Rooms (1995)
3       4  Get Shorty (1995)
4       5     Copycat (1995)

In [6]:
len(movie_titles)

1682

In [25]:
df = pd.merge(df, movie_titles, on="item_id")
df.head()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat